[core]
	excludesfile = /Users/lfilipowicz/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Łukasz Filipwicz
	email = lukasz.filipowicz@uniteam.pl
[commit]
	template = /Users/lfilipowicz/.stCommitMsg
